html {
	font-family: "Inter", sans-serif;
	font-size: 15px;
}
body {
	overflow-y: hidden;
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
}
html,
body {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	touch-action: pan-x pan-y;
	@apply bg-c-base text-neutral-800 dark:bg-c-dark dark:text-c-mode dark:opacity-95;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
	@apply bg-white dark:bg-c-dark;
}

* {
	scrollbar-color: #8885 #eee;
}

::-webkit-scrollbar {
	width: 10px;
	@apply w-[4px] sm:w-[10px];
}

::-webkit-scrollbar:horizontal {
	height: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 1px;
	@apply bg-[#eee] dark:bg-neutral-500;
}

::-webkit-scrollbar-thumb {
	border-radius: 1px;
	@apply bg-[#8885] dark:bg-neutral-700;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-[#8886] dark:bg-neutral-600;
}
